//BASE COLOR

$PRIMARYCOLOR: rgba(51, 113, 242, 1);
$BLUE80: rgba(84, 127, 243, 1);
$BLUE60: rgba(107, 142, 245, 1);
$BLUE40: rgba(127, 157, 246, 1);
$BLUE20: rgba(160, 188, 248, 1);
$LIGHTBLUE: rgba(236, 242, 254, 1);
$LIGHTBLUE2: rgb(202, 221, 255);

//TEXT COLOR

$TITLECOLOR: rgba(51, 51, 51, 1);
$BODYCOLOR: rgba(102, 102, 102, 1);
$INFIELDCOLOR: rgba(153, 153, 153, 1);
$DISABLEDCOLOR: rgba(204, 204, 204, 1);

//OTHER COLOR

$RICHBLUE: rgba(12, 71, 192, 1);
$SHADOW: rgba(6, 35, 96, 1);
$GOLD: rgba(236, 204, 104, 1);
$GREEN: rgba(46, 213, 115, 1);
$LIGHTGREEN: rgba(123, 237, 159, 1);
$ORANGE: rgba(255, 127, 80, 1);
$DARKORANGE: rgba(255, 99, 72, 1);
$PINK: rgba(255, 107, 129, 1);
$DARKPINK: rgba(255, 71, 87, 1);
$RED: rgb(200, 64, 64);
$TEXT: rgb(17, 15, 36);
$DARKGRAY: rgb(204, 206, 208);
$MEDIUMGRAY: rgb(236, 236, 238);
$LIGHTGRAY: rgb(246, 246, 249);
$MUTED: rgba(17, 15, 36, 0.2);

//Fonts
$PRIMARYFONT: "Roboto", sans-serif;
$SECONDARYFONT: "Raleway", sans-serif;
